.auth-container {
    display: flex;
    flex-wrap: wrap;
    // width: 900px;
    margin: 30px;
  }

  .auth-container  > *{
    margin-bottom: 30px;

    @media screen and (min-width: 900px) {
      margin-right: 50px;
    }
  }

  