.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    @media screen and (max-width: 700px) {
      padding: 10px;
    }
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 10px;
    }
  
    .nav-links-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @media screen and (max-width: 800px) {
        width: 80%;
      }
  
      .nav-link {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }  