.category-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 50px;

  @media screen and (max-width: 875px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}

.category-title {
  font-size: 38px;
  margin-bottom: 25px;
  text-align: center;
}