.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media screen and (max-width: 875px) {
    align-items: center;    
  }

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;

    &:hover{
      color: gray;
    }
  }

  .preview {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 15px;
    justify-content: left;

    @media screen and (max-width: 875px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}