.product-card-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  height: 375px;
  align-items: center;
  position: relative;
  margin-left: 10px;

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 5px;
  }

  button {
    width: 80%;
    opacity: 0.7;
    // position: absolute;
    // top: 280px;
    display: flex;
    min-width: 140px;
    line-height: unset;
  }

  &:hover {
    img {
      opacity: 0.8;
    }

    button {
      opacity: 0.85;
      display: flex;
    }
  }

  @media screen and (max-width: 875px) {
    width: 40vw;

    &:hover {
      img {
        opacity: unset;
      }
  
      button {
        opacity: unset;
      }
    }
  }

  .footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 30px;
  }
}